




.product-image {
  @apply h-[200px] w-[200px] relative;
  img{
    @apply h-full w-full;
  }
}

.inputPlaceholder{
  @apply w-full px-3 text-[14px] font-[400] text-slate-900 border-slate-400 border rounded-[5px] h-[42px];
  &.textArea{
    @apply h-[100px];
  }
  &:disabled{
    @apply text-sky-700 bg-white border-none font-[700];
  }
}
.inputLabel{
  @apply text-[14px] font-[500] text-blue-100;
}